*{
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

body{
    color: #263138;  
    
}

header{
    background-color: #FF9A6C;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 80px 10px 80px;
}

header a{
    color: #FFFFFF;
    font-weight: 600;
    padding: 32px;
    text-decoration: none;
}

#inicio{
    display: flex;
    align-items: center;
    gap:32px;
    padding: 24px 80px 128px 80px;
    position: relative;
}

h1, h2 {
    font-weight: 600;
    font-size: 32px;
    margin-bottom: 32px;
}

.paragrafo {
    line-height: 20px;
    margin-bottom: 32px;
}

.button {
    background-color: #FF725E;
    padding: 16px 32px;
    border-radius: 8px;
    color: white;
    text-decoration: none;
}

.button-trans {
    background-color: transparent;
    color:#FF725E;
    padding: 16px 32px;
    text-underline-offset: 4px;
}

.absolute {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: -10;
}

#clinica {
    display: flex;
    align-items: center;
    gap: 64px;
    padding: 64px 80px;

}

#clinica li {
    margin-bottom: 16px;
    margin-left: 32px;
}

#farmacia {
    padding: 64px 80px ;
    text-align: center;

}

#farmacia img {
    margin: 64px auto;
}

#farmacia .paragrafo {
    max-width: 950px;
    margin: 0 auto;
}

#duvidas {
    display: flex;
    align-items: center;
    gap: 64px;
    padding: 64px 80p;
}
.duvida {
    position: relative;
}
    
.duvida h3{
    border: 2px solid #FF725E;
    border-radius:8px ;
    cursor: pointer;
    padding: 24px;
}

.duvida img {
    position: absolute;
    top: 32px;
    right: 24px;
}

.duvida .paragrafo {
    border-right: 1px solid #ff725E;
    border-left: 1px solid #ff725E;
    border-bottom: 1px solid #ff725E;
    border-radius: 0px 0px 8px 8px;
    margin-top: -8px;
    padding: 0px 24px;
    opacity: 0;
    overflow: hidden;
    height: 0;
    transition: .3s;
}

.duvida.active .paragrafo {
    opacity: 1;
    height: fit-content;
    padding: 24px;
}

footer {
    background-color:rgb(255, 114, 94, 0.4);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 80px;
    
    
}

#slogan p {
    max-width: 300px ;
    
}

#slogan img {
    margin-bottom: 10px;
}

footer .title {
    display: block;
    font-weight: 800;
    margin-bottom: 10px;
}

footer nav a {
    display: block;
    color: #263138;
    font-weight: 600;
    text-decoration: none;
    margin: 3px;
}


#contato p {
    font-weight: 600;
    margin-bottom: 3px;
}

#contato a {
    color: #263138;
    text-decoration: none;
}

#copy {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;

}

#copy a {
    color: #FF725E;
}

@media screen and (max-width:320px) {
  
    header {
        padding: 15px 20px; 
    }
    
    header img {
        width: 65px;
    }

    header a {
        padding: 4px; 
        font-size: x-small;
    }
    
    p {
        font-size: 14px;
    }

    #inicio {
        display: block;
        flex-direction: column;
        gap: 16px;
        padding: 24px 20px 64px 20px; 
        position: relative;
    }
    
    #inicio img {
        max-width: 100%;
    }

    h1, h2 {
        font-weight: 600;
        font-size: medium; 
        margin-bottom: 16px;
    }
    
    .paragrafo {
        line-height: 18px; 
        margin-bottom: 16px;
    }
    
    #inicio a {
        display: block;
    }

    .button, .button-trans {
        padding: 15px; 
        max-width: fit-content;
    }

    .absolute {
       padding-bottom: 450px;
       
    }

    #clinica, #farmacia, #duvidas {
        flex-direction: column;
        padding: 32px 20px;
    }
    
    #clinica li {
        margin-bottom: 8px; 
        margin-left: 3px;
    }
    
    #clinica img {
        max-width: 100%;
        margin: 0 auto;
    }

    #farmacia img {
        max-width: 100%;
        margin: 32px auto; /
    }
    
    #farmacia .paragrafo {
        max-width: 100%; 
        margin: 0 auto;
    }
    
    #duvidas {
        padding: 20px;
    }
    
    .duvida h3 {
        font-size: 15px;
        padding: 10px; 
    }
    
    #duvidas img {
        max-width: 100%;
    }

    footer {
        display: block;
        padding: 16px 20px; 
    }

    #slogan {
        margin-bottom: 10px;
        
    }
    #slogan img {
        max-width: 70px;
    }

    #slogan p {
        max-width: 100%; 
        font-size: 14px;

    }

    footer div nav{
        display: flex;
        margin-bottom: 10px;
    }

    footer nav {
        font-size: 14px;
    }

    footer .title {
        margin-bottom: 6px; 
        font-size: 15px;
        
    }

    #contato p {
        font-size: 14px;
    }
    
    #copy {
        padding: 5px;
        font-size: 14px;
    }
}